header {
  max-width: 100%;
  border: 2px red solid;
}

.topMain {
  max-width: 100%;
}

.showData {
  max-width: 100%;
}
.separator {
  max-width: 100%;
  height:2.5px;
  border: 1em red solid;
}
.orderIspsTop {
  border: 1px blue dotted;
}
